*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.hero{
    width: 100%;
    height: 100vh;
    background: #f0f3ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBox{
    border-radius: 55px;
    padding: 30px;
    background: #f0f3ff;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgb(0 0 0 / 15%),
     -6px -6px 10px -1px rgb(255 255 255 / 70%);
}
#googleIcon{
    width: 50px;
    cursor: pointer;
}
#googleMic{
    width: 0px;
    cursor: pointer;
    transition:0.8s;
    transition-delay: 0.3s;
}
input{
    width: 0px;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 20px;
    transition: 2s;
}
.active input{
    width: 500px;
    padding: 12px;
}
.active #googleMic{
    width: 30px;
}